# fly.toml app configuration file generated for wahl-chatbot
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'wahl-chatbot'
primary_region = 'fra'

[build]

[deploy]
  release_command = 'echo "Deployment starting..."'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = 10000
    timeout = 2000
    grace_period = '5s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
